
# n8n dış URL ve webhooks
N8N_HOST=argusbot.duckdns.org
N8N_PORT=5678
N8N_PROTOCOL=https
N8N_EDITOR_BASE_URL=https://argusbot.duckdns.org
WEBHOOK_URL=https://argusbot.duckdns.org/

# n8n API (Claude’un workflow oluşturması için)
N8N_API_URL=https://argusbot.duckdns.org
N8N_API_KEY=eyJhbGciOiJIU......
# Claude / OpenAI
ANTHROPIC_API_KEY=sk-a......
OPENAI_API_KEY=sk-proj-r4i_......

# Telegram
TELEGRAM_BOT_TOKEN=813...
# Gmail / Google OAuth
GOOGLE_CLIENT_ID=10233...…
GOOGLE_CLIENT_SECRET=GOCSPX-....
GOOLE_SHEETS_API_KEY=bnkqt….
# Diğer servisler varsa (YouTube, Twilio vs)
 YOUTUBE_API_KEY=AIzaSy.........
 TWILIO_ACCOUNT_SID=ACa54f63.....
 TWILIO_AUTH_TOKEN=5200cbdÇ....
 TWILIO_PHONE_NUMBER=+12722334653
 ALERT_TARGET_NUMBER=+905454423820
 VAPI_API_KEY=4c1dec...…
 KIA_API_KEY=18f461......
 ELEVENLABS_API_KEY=your_elevenlabs_api_key_here
 PEXELS_API_KEY=your_pexels_api_key_here
# Binance
BINANCE_API_KEY=Y4BxSXnA...….
BINANCE_API_SECRET=pO4O1QeVyX......
CRYPTO_NEWS_API_KEY=7fa942b55df...….
CRYPTOPANIC_API_KEY=1f0ff872043800......
# Twilio voice endpoint
VOICE_API_URL="https://api.twilio.com/2010-04-91Accounts/${TWILIO_ACCOUNT_SID}/Calls.json"
VOICE_API_KEY="QUNhNTRmNjM…........


